<div class="container contact" id="contact">
    <h1 class="title">Contact Us</h1>
    <div class="row align-items-center">
        <div class="col-lg-6">
            <p class="contact-text">
                Have a query? Reach out to us at:<br>
                <span class="email">technomauli@gmail.com</span>
            </p>
        </div>
        <div class="col-lg-6">
            <div class="image-container">
                <img src="assets/contact2.png" class="contact-img" alt="Contact Us">
            </div>
        </div>
    </div>
</div>
