<div class="container products" id="products">
  <h1 class="title">Our Products</h1>
  <div class="row">
      <div class="col-lg-4 col-md-6">
          <div class="card product-card my-3">
              <img src="assets/expenso-icon.png" class="card-img-top" alt="Expenso Icon">
              <div class="card-body">
                  <h3 class="card-title">Expenso</h3>
                  <p class="card-text">Simple, Perfect and Easy Expense Tracker. Track all your expenses in one place.</p>
                  <a href="https://play.google.com/store/apps/details?id=com.ExpenseTracker.ExpenseTracker&pli=1"
                      class="btn btn-orange">Go to Play Store</a>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-6">
          <div class="card product-card my-3">
              <img src="assets/task-master-icon.png" class="card-img-top" alt="Task Master Icon">
              <div class="card-body">
                  <h3 class="card-title">TaskMaster</h3>
                  <p class="card-text">Simple and Easy TODO App. Manage all your tasks in one App.</p>
                  <a href="https://play.google.com/store/apps/details?id=com.pratik15m.TaskMaster"
                      class="btn btn-orange">Go to Play Store</a>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card product-card my-3">
          <img src="assets/Dnyaneshwari-icon.png" class="card-img-top" alt="Dnyaneshwari Icon">
          <div class="card-body">
            <h3 class="card-title">Dnyaneshwari (ज्ञानेश्वरी)</h3>
            <p class="card-text">सार्थ ज्ञानेश्वरी आता तुमच्या मोबाईल मध्ये.
              <br>Dnyaneshwari is now on your mobile.
            </p>
            <a href="https://play.google.com/store/apps/details?id=com.pratik15m.Dnyaneshwari" class="btn btn-orange">Go
              to Play Store</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card product-card my-3">
          <img src="assets/Gita-icon.png" class="card-img-top" alt="Gita Icon">
          <div class="card-body">
            <h3 class="card-title">Gita (गीता)</h3>
            <p class="card-text">भगवद्गीता आता तुमच्या मोबाईलमध्ये.
              <br>Bhagvadgita is now on your mobile.
            </p>
            <a href="https://play.google.com/store/apps/details?id=com.pratik15m.BhagvadGita&pli=1"
              class="btn btn-orange">Go to Play Store</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card product-card my-3">
          <img src="assets/Delicio-Transparent.png" class="card-img-top" alt="Gita Icon">
          <div class="card-body">
            <h3 class="card-title">Delicio</h3>
            <p class="card-text">Find Mess/Tiffin services and Cook/Chef services near you.
            </p>
            <a href="https://play.google.com/store/apps/details?id=com.pratik15m.Delicio"
              class="btn btn-orange">Go to Play Store</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card product-card my-3">
          <img src="assets/TicTacToe.png" class="card-img-top" alt="Gita Icon">
          <div class="card-body">
            <h3 class="card-title">Tic Tac Toe - XO Game</h3>
            <p class="card-text">Relive the timeless fun of Tic Tac Toe with a modern, colorful twist!
            </p>
            <a href="https://play.google.com/store/apps/details?id=com.pratik15m.TicTacToe"
              class="btn btn-orange">Go to Play Store</a>
          </div>
        </div>
      </div>
  </div>
</div>
