<div class="container products" id="products">
    <h1 class="title">Our Products</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="card my-2">
                <img src="assets/expenso-icon.png" class="card-img-top" alt="Expenso Icon">
                <div class="card-body">
                  <h5 class="card-title">Expenso</h5>
                  <p class="card-text">Simple, Perfect and Easy Expense Tracker. Track all your expenses in one place.</p>
                  <a href="https://play.google.com/store/apps/details?id=com.ExpenseTracker.ExpenseTracker&pli=1" class="btn btn-success">Go to Play Store</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card my-2">
                <img src="assets/task-master-icon.png" class="card-img-top" alt="Expenso Icon">
                <div class="card-body">
                  <h5 class="card-title">TaskMaster</h5>
                  <p class="card-text">Simple and Easy TODO App. Manage all your tasks in one App.</p>
                  <a href="https://play.google.com/store/apps/details?id=com.pratik15m.TaskMaster" class="btn btn-success">Go to Play Store</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card my-2">
                <img src="assets/expenso-pro-icon.png" class="card-img-top" alt="Expenso Icon">
                <div class="card-body">
                  <h5 class="card-title">Expenso Pro</h5>
                  <p class="card-text">Track all your expenses in one place and enjoy the Ads free User Interface.</p>
                  <a href="https://play.google.com/store/apps/details?id=com.pratik15m.ExpensoPro" class="btn btn-success">Go to Play Store</a>
                </div>
            </div>
        </div>
    </div>
</div>

