<div class="about" id="about">
<div class="container about-container">
    <h1 class="title">About Us</h1>
    <div class="row">
        <div class="col-lg-6">
            <img class="about-img" src="assets/about.png">
        </div>
        <div class="col-lg-6">
            <p class="about-content">At Mauli Tech, we're more than just a software company – we're innovators, problem solvers, and creators. Our journey began with a vision to revolutionize the digital landscape by crafting cutting-edge software solutions that empower businesses to thrive in the modern world.</p>
        </div>
    </div>
</div>
</div>
