<div class="about" id="about">
    <div class="container about-container">
        <h1 class="title">About Us</h1>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="about-img" src="assets/about.png" alt="About Us">
                </div>
            </div>
            <div class="col-lg-6">
                <p class="about-content">
                    At Mauli Tech, we specialize in delivering innovative software solutions designed to solve complex business challenges. 
                    With a commitment to excellence and a focus on cutting-edge technology, our mission is to empower organizations 
                    with tools that drive efficiency, enhance productivity, and achieve measurable results.
                </p>
                <p class="about-content">
                    From concept to implementation, our team of experts ensures every project is aligned with our clients' strategic 
                    goals. Trust Mauli Tech to be your partner in transforming ideas into impactful solutions, fostering growth, and staying ahead in a dynamic digital landscape.
                </p>
            </div>
        </div>
    </div>
</div>
