<div class="footer">
    <div class="container footer-container">
        <div class="row">
            <div class="col-lg-3 text-center">
                <img src="assets/Mauli Tech.png" class="logo" alt="Mauli Tech Logo" />
                <p class="email">Email - <a href="mailto:technomauli@gmail.com" class="email-link">technomauli@gmail.com</a></p>
            </div>
            <div class="col-lg-3">
                <p class="footer-title">Our Apps</p>
                <p><a class="footer-links" href="https://play.google.com/store/apps/details?id=com.ExpenseTracker.ExpenseTracker&pli=1">Expenso</a></p>
                <p><a class="footer-links" href="https://play.google.com/store/apps/details?id=com.pratik15m.TaskMaster">TaskMaster</a></p>
                <p><a class="footer-links" href="https://play.google.com/store/apps/details?id=com.pratik15m.Dnyaneshwari">Dnyaneshwari (ज्ञानेश्वरी)</a></p>
                <p><a class="footer-links" href="https://play.google.com/store/apps/details?id=com.pratik15m.BhagvadGita&pli=1">Gita (गीता)</a></p>
            </div>
            <div class="col-lg-3">
                <p class="footer-title">Recently Added Apps</p>
                <p><a class="footer-links" href="https://play.google.com/store/apps/details?id=com.pratik15m.Delicio">Delicio</a></p>
                <p><a class="footer-links" href="https://play.google.com/store/apps/details?id=com.pratik15m.TicTacToe">Tic Tac Toe</a></p>
                <p><a class="footer-links" href="https://play.google.com/store/apps/details?id=com.pratik15m.ShriRamCharitManas">ShriRamCharitManas (श्रीरामचरितमानस)</a></p>
            </div>
            <div class="col-lg-3">
                <p class="footer-title">Important Links</p>
                <p><a class="footer-links" href="/delicio-user-guide">Delicio User Guide</a></p>
            </div>
        </div>
    </div>
</div>
<div class="bg-orange">
    <div class="container copyright">
        <div class="row align-items-center">
            <div class="col-lg-6 cptext">
                <span>© 2023 - Mauli Tech</span>
            </div>
            <div class="col-lg-6 text-center">
                <a href="https://www.instagram.com/sakha_maza_dnyaneshwar/" class="insta">
                    <img class="insta-logo" src="assets/instagram.svg" alt="Instagram Logo" />
                    Follow @sakha_maza_dnyaneshwar
                </a>
            </div>
        </div>
    </div>
</div>
