<div class="footer">
    <div class="container footer-container">
        <div class="row">
            <div class="col-lg-4">
                <img src="assets/Mauli Tech.png" class="logo"/><br>
                <p class="email">Email - technomauli@gmail.com</p>
            </div>
            <div class="col-lg-4">
                <p class="footer-title">Quick Links</p>
                <p><a class="footer-links" href="https://play.google.com/store/apps/details?id=com.ExpenseTracker.ExpenseTracker&pli=1">Expenso</a></p>
                <p><a class="footer-links" href="https://play.google.com/store/apps/details?id=com.pratik15m.TaskMaster">TaskMaster</a></p>
                <p><a class="footer-links" href="https://play.google.com/store/apps/details?id=com.pratik15m.ExpensoPro">Expenso Pro</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container copyright row">
    <div class="col-lg-6">
        © 2023 - Mauli Tech
    </div>
    <div class="col-lg-6">
        <a href="https://www.instagram.com/sakha_maza_dnyaneshwar/" class="insta"><img class="insta-logo" src="assets/instagram.svg"> Follow @sakha_maza_dnyaneshwar</a>
    </div>
</div>


